.col-md-offset-4.col-md-4
  .panel.panel-default
    .panel-heading
      %h1 Log in
    .panel-body
      = simple_form_for sessions_path do |f|
        .form-inputs.col-md-12        
          .col-md-offset-1.col-md-6
            = f.label :email
          %br/
          .center
            .input-lg= f.input_field :email
          %br/
          .col-md-offset-1.col-md-6
            = f.label :password
          %br/
          .center
            .input-lg= f.input_field :password
          %br/
          .center
            = f.button :submit, "Login", class: "btn btn-primary btn-lg"
          
