!!!
%html
  %head
    %title ParSciELS
    = stylesheet_link_tag "application", media: "all", |
      "data-turbolinks-track" => true                  |
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    - if current_user    
      %header.navbar.navbar-fixed-top.navbar-inverse
        .navbar-inner
          .container
            = link_to "sample app", '#', id: "logo"
            :javascript
              window.onload = date_time('date_time');
            %nav
              %ul.nav.pull-right.navbar-nav
                %li= link_to "Home",    '#'
                %li= link_to "Help",    '#'            
                - if current_user
                  %li= link_to current_user.email, '#'
                  %li= link_to "Log out", log_out_path
                - else
                  %li= link_to "Sign up", sign_up_path
                  %li= link_to "Log in", log_in_path

    .container

      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"

      = yield
